
<div class="justify-content-center align-items-center h-100 d-flex" style="padding-top:100px">
    <form asp-action="Search" method="post">
        <div class="input-group-lg"></div>
        <strong><label style="font-size:larger" for="query">Search for movies:</label></strong>
        <input type="text" id="query" size="50" style="height:45px" name="query" placeholder="Seach here for any movie" autofocus/>
        <button type="submit" class="btn btn-outline-secondary btn-lg btn-clr text-clr">Search</button>
    </form>
</div>
